#header {
    background: #199EB8;
    height: 70px;
    display: flex;
    align-items: center;
  }
  
  #header a,
  #header a:hover {
    color: #fff;
  }
  
  #header #logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }