.logo{width: 70px;}
.brand{margin-bottom: 75px;}
h1{font-size: 62px;}
.tagline {
    font-size: 26px;
    margin: 45px 0 75px 0;
    color: #fff;
}
.hero {
    display: table;
    position: relative;
    background-image: url(../../assets/images/cover.jpg);
    background-size: cover;
    padding: 150px 0;
    color: #fff;
    width: 100%;
    height: 100vh;
  }
  
  .hero:after {
    content: '';
    z-index: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  
  .hero .container {
    position: relative;
    z-index: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  
  .btn-full{
    background: #fff;
    padding: 15px 30px;
    border-radius: 40px;
    color: #333;
  }