<section class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12 brand">
            <img src="{{logoSrc}}" alt="logo" class="logo">
          <span class="sr-only">{{title}}</span>
        </div>
      </div>

      <div class="col-md-12">
        <h1>
            {{subTitle}}
          </h1>

        <p class="tagline">
          {{description}}
        </p>
        <a class="btn btn-full" href="#users">{{btnValue}}</a>
      </div>
    </div>

  </section>
  <!-- /Hero -->