<section class="portfolio" id="portfolio">
  <div class="container text-center">
    <h2>
      {{ title }}
    </h2>
    <p>
      {{ subTitle }}
    </p>
  </div>

  <div class="portfolio-grid">
    <div class="row">
        <ng-container *ngFor="let photo of lstPhotos; let i = index">
      <div class="col-lg-2 col-sm-6 col-xs-12" *ngIf="i < 12">
        <div class="card card-block">
          <a href="#"
            ><img alt="" src="{{ photo.url }}" />
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  {{ photo.title }}
                </h3>
              </div>
            </div></a
          >
        </div>
      </div>
    </ng-container>
    </div>
  </div>
</section>
