.users {
    padding-bottom: 45px;
  }
  
  .users h2 {
    color: #199EB8;
    font-size: 30px;
    margin-bottom: 65px;
  }
  
  .user-col {
    display: table;
    padding-bottom: 45px;
  }
  
  
  .user-col > div > div:last-child {
    padding-left: 20px;
  }
  
  .user-col .user-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
    background: #199EB8;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .user-col h3 {
    color: #199EB8;
  }
  
  .user-col p.email {
    font-size: 14px;
    color: #999;
    margin-bottom: 0;
  }
  .city{
    color: #3079b8;
    font-size: 18px;
    margin: 8px;
  }