<section class="users" id="users">
  <div class="container">
    <h2 class="text-center">
      Users
    </h2>

    <div class="row">
      <div class="user-col col-lg-4 col-xs-12" *ngFor="let list of lstUsers">
        <div class="card card-block text-center border-0">
          <div>
            <div class="user-icon">
              <span>{{ list.id }}</span>
            </div>
          </div>

          <div>
            <h3>
              {{ list.name }}
            </h3>
            <p class="email">{{ list.email }}</p>
            <p class="city">{{ list.address.city }}</p>
            <div class="description">
              Eque feugiat contentiones ei has. Id summo mundi explicari his,
              nec in maiorum scriptorem.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
