/* You can add global styles to this file, and also import other style files */  


body{
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}
section {
    padding: 85px 0;
}  
  
  
  /* ==================================================
    Portfolio Styling
    ================================================== */
  
  .portfolio {
    background-color: #edf6ff;
    padding-bottom: 0;
  }
  
  .portfolio h2 {
    color: #199EB8;
    margin-bottom: 25px;
  }
  
  .portfolio-grid {
    margin-top: 65px;
  }
  
  .portfolio-grid .row {
    margin: 0;
  }
  
  .portfolio-grid .row > div {
    padding: 0;
  }
  
  .portfolio-grid .row > div .card img {
    width: 100%;
  }
  
  .portfolio-grid .row > div .card .portfolio-over {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  
  .portfolio-grid .row > div .card .portfolio-over > div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .portfolio-grid .row > div .card .portfolio-over .card-title {
    color: #fff;
    font-size: 30px;
  }
  
  .portfolio-grid .row > div .card .portfolio-over .card-text {
    color: #fff;
    opacity: .75;
    padding: 0 45px;
  }
  
  .portfolio-grid .row > div .card:hover .portfolio-over {
    opacity: 1;
    visibility: visible;
  }
  
  /* ==================================================
    Team Styling
    ================================================== */
  
  .team h2 {
    color: #199EB8;
  }
  
  .team .col-sm-3 {
    padding: 0;
  }
  
  .team .card > a {
    display: block;
  }
  
  .team .card img {
    width: 100%;
  }
  
  .team .card h4 {
    color: #fff;
    text-transform: uppercase;
  }
  
  .team .card p {
    font-size: 11px;
    color: #333;
    opacity: .75;
    margin: 0;
    padding: 0;
  }
  
  .team .card .social-nav {
    margin-bottom: 45px;
  }
  
  .team .card .social-nav a {
    color: #fff;
    font-size: 16px;
    margin: 0 4px;
  }
  
  .team .card .social-nav a:hover {
    opacity: .75;
  }
  
  .team .card:hover .team-over {
    opacity: 1;
    visibility: visible;
  }
  
  .team .card:hover .card-title-wrap {
    background-color: #199EB8;
  }
  
  .team .card:hover .card-title-wrap .card-title,
  .team .card:hover .card-title-wrap .card-text {
    color: #fff;
  }
  
  .team .team-over {
    padding-top: 45px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  
  .team .card-title-wrap {
    padding: 15px 25px;
    position: relative;
    z-index: 9;
    background-color: #fff;
  }
  
  .team .card-title-wrap .card-title,
  .team .card-title-wrap .card-text {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    display: block;
    margin: 0;
  }
  
  .team .card-title-wrap .card-title {
    font-size: 24px;
    color: #333;
  }
  
  .team .card-title-wrap .card-text {
    font-size: 18px;
    color: #999;
  }
  
  /* ==================================================
    Contact Section
    ================================================== */
  
  #contact {
    background: #f7f7f7;
    padding: 80px 0;
  }
  
  #contact h2 {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    color: #199EB8;
  }
  
  #contact .info i {
    font-size: 32px;
    color: #199EB8;
    float: left;
  }
  
  #contact .info p {
    padding: 0 0 10px 50px;
    line-height: 24px;
  }
  
  #contact .form #sendmessage {
    color: #199EB8;
    border: 1px solid #199EB8;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #contact .form #sendmessage.show,
  #contact .form #errormessage.show,
  #contact .form .show {
    display: block;
  }
  
  #contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }
  
  #contact .form input,
  #contact .form textarea {
    border-radius: 0;
    box-shadow: none;
  }
  
  #contact .form button[type="submit"] {
    background: #199EB8;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  
  #contact .form button[type="submit"]:hover {
    background: #23c2e1;
  }
  
  /* ==================================================
    Footer Styling
    ================================================== */
  
  .site-footer {
    background-color: #111;
    padding: 0;
  }
  
  .site-footer h2,
  .site-footer p {
    color: #fff;
  }
  
  .site-footer p {
    opacity: .75;
    line-height: 2.0925;
  }
  
  .site-footer h2,
  .site-footer .btn {
    margin-bottom: 25px;
  }
  
  .site-footer .social-nav a {
    color: #fff;
    opacity: .25;
  }
  
  .site-footer .social-nav a:hover {
    opacity: 1;
  }
  
  .site-footer .bottom {
    background-color: #000;
    padding: 20px 0;
  }
  
  .site-footer .bottom .list-inline,
  .site-footer .bottom p {
    margin: 0;
  }
  
  .site-footer .bottom .list-inline {
    position: relative;
    top: 5px;
  }
  
  .site-footer .bottom .list-inline a {
    color: #fff;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin-right: 15px;
  }
  
  .site-footer .bottom .list-inline a:hover {
    color: #199EB8;
  }
  
  .site-footer .credits {
    color: #ddd;
  }
  
  .site-footer .credits a {
    color: #199EB8;
  }
  
  /* ==================================================
    Responsive Styling
    ================================================== */
  
  @media (max-width: 768px) {
    #header {
      height: 50px;
    }
  
    #header #logo {
      margin: 10px 0 0 0;
    }
  
    #header #logo h1 {
      padding: 2px 0;
      font-size: 26px;
    }
  
    #header #logo img {
      max-height: 30px;
    }
  
    #nav-menu-container {
      display: none;
    }
  
    #mobile-nav-toggle {
      display: inline;
    }
  }
  
  @media (max-width: 767px) {
    .block {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 61.9em) {
    section,
    .block,
    .cta {
      padding: 35px 0;
    }
  
    .features {
      padding-bottom: 5px;
    }
  
    p,
    .block p {
      margin: 0;
    }
  
    .hero-brand {
      margin-bottom: 35px;
    }
  
    .tagline {
      margin: 35px 0;
    }
  
    h1 {
      font-size: 32px;
      margin: 0;
    }
  
    h2,
    .tagline {
      font-size: 24px;
    }
  
    h2 {
      margin-bottom: 25px;
    }
  
    h3 {
      font-size: 14px;
    }
  
    .hero {
      padding: 75px 0;
    }
  
    .stats-col {
      margin-bottom: 25px;
    }
  
    .block {
      height: auto;
    }
  
    .feature-col {
      padding-bottom: 30px;
    }
  
    .portfolio-grid .card h3.card-title {
      font-size: 18px !important;
    }
  
    .portfolio-grid .card .card-text {
      font-size: 13px;
    }
  
    .team .team-over {
      padding-top: 20px;
    }
  
    .team .card .social-nav {
      margin-bottom: 15px;
      padding: 0;
    }
  
    .site-footer .social-nav {
      margin-bottom: 35px;
    }
  
    .site-footer .list-inline {
      text-align: center;
      padding-bottom: 15px;
    }
  
    .site-footer .list-inline li {
      display: inline-block;
    }
  }