<section class="team" id="team">
  <div class="container">
    <h2 class="text-center">
      Meet our team
    </h2>

    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="{{addUser?.avatar}}">
            <div class="card-title-wrap">
              <p>Created</p>
              <span class="card-title">{{addUser?.first_name}}</span> <span class="card-text">{{addUser?.email}}</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="{{updatedUser?.avatar}}">
            <!-- <a href="#"><img alt="" class="team-img" src="{{updateuser?.avatar}}"> -->
            <div class="card-title-wrap">
              <p>Updated</p>
              <span class="card-title">{{updatedUser?.first_name}} {{addUser?.last_name}}</span> <span
                class="card-text">{{updatedUser?.email}}</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="{{patchedUser?.avatar}}">
            <!-- <a href="#"><img alt="" class="team-img" src="{{updateuser?.avatar}}"> -->
            <div class="card-title-wrap">
              <p>Patched</p>
              <span class="card-title">{{patchedUser?.first_name}} {{patchedUser?.last_name}}</span> <span
                class="card-text">{{patchedUser?.email}}</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          {{message}}
        </div>
      </div>
    </div>
  </div>
</section>
